body {
    background-color: rgb(223, 249, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    margin: 1vh 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.listado {
    padding: 0;
    list-style-type: none;
    display: inline-block;
}


.item-listado {
    box-shadow: 0 0 1vh 0 rgba(0, 0, 0, 0.75);
    border-radius: 0.7vh;
    margin-bottom: 2vh;
    background-color: rgb(250, 250, 160);
    padding: 0.6vh 1vw 0.5vh 0.7vw;
}

.item-listado a{
    text-decoration: none;
}

.item-listado p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.item-listado h2 {
    font-weight: 500;
    margin: 0 0 2px 0;
    font-size: 1.5rem;
}

.item-listado strong {
    font-size: 100%;
}